.info {
  text-align: center;
}

.book {
  padding: 4rem;
}
img {
  padding-bottom: 3rem;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.average {
  margin-left: auto;
  margin-right: auto;
}
